
body {
    font-family: Arial, Helvetica, sans-serif;
   background-color: #B3A492;
}
.head {
    width: 500px;
    margin: 0px auto;
    position: relative;
    text-align: center;
    padding-top: 50px;
    position: relative;
}
.foot {
    width: 500px;
    margin: 0px auto;
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    position: relative;
}
a {
    color: #4CAF50;
    text-decoration: none;
}
p {
    position: relative;
    font-family: verdana;
    font-size: 16px;
    line-height: 1.7;
    color: /*#666666;*/ white;
    background-color: rgba(0,0,0,.6);
}
.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 1px;
}
.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}
.account {
    text-align: center;
    font-family: verdana;
    font-size: 16px;
    line-height: 1.7;
    font-weight: 100;
    margin: -10px;
}
h2 {
    color: #333;
    text-align: center;
    background: rgb(106, 196, 248);
    border-radius: 5px;
    color: #2b2b2b;
    padding: 3px;
    font-weight: 400;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.form-group {
    margin-bottom: 10px;
}
.form-group label {
    display: block;
    margin-bottom: 3px;
    color: #555;
}
.form-group input[type="text"],
.form-group input[type="password"] {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.form-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: rgb(106, 196, 248);
    color: #2b2b2b;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.form-group input[type="submit"]:hover {
    background-color: #19A9FF;
}